@use "../../../styles/mixins/button" as *;

.button {
  @include make-button();
}
.buttonMore {
  @include make-button-more();
}
.boxList {
  padding: 32px;
  border-radius: 8px;
  background: var(--Xanh, #2339ff);
}
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.72px;
}
.subText {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
@media only screen and (max-width: 48em) {
  .title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -1.2px;
  }
  .boxList {
    padding: 24px 16px;
    border-radius: 16px;
  }
  .subText {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
  }
}
