@import '../../../globals.scss';

.text {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.96px;
  color: #404040;
  text-align: center;
}

.subText {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.form {
  border: 1px solid #e8e0e0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.button {
  color: #fff;
  background-image: $mainRadientToRight;
}

.contact {
  background-image: linear-gradient(to right, white, #5aadf0);
}

.registerButton {
  background-image: $mainRadientToRight;
}

.input {
  height: 100px;
}

@media only screen and (max-width: 48em) {
  .text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .subText {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}