@mixin make-button() {
  border-radius: 4px;
  background: var(--gray-gray-100-shadow, #f2f4f7);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  width: 203px;
  height: 52px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--Xanh, #2339ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
@mixin make-button-more() {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--Xanh, #2339ff);
  background: var(--Xanh, #2339ff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
